.section2 {
    padding: 50px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding:50px 24px 90px 24px;
}

.section2_container {
    font-weight: 500;
    font-size: 36px;
    color: #212c42;
    line-height: 44px;
    text-align: center;
    max-width: 40%;
}
.section2_container span {
    font-weight: 700;
    color: #ffb366;
}


.section2_container2 {
    background-color: #fff;
    border-radius: 20px;
    padding: 30px 0px 30px 50px;
    display: flex;
    box-shadow: 0 10px 10px rgba(150,148,148,.1);
    gap: 20px;
    text-align: center;
    justify-items: center;
    width: 40%;
    transition: 1s;
}

.section2_container2:hover {
    box-shadow: 0 10px 10px rgba(150,148,148,.3);
}

.section2_container2 img {
    width: 84px;
}
.section2_container2 p {
    font-weight: 700;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    color: #212c42;
    line-height: 24px;
    text-align: left;

}

@media (max-width: 768px) {
    .section2_container {
        max-width: 70%;
    }
    .section2_container2 {
        width: 60%;
    }
}

@media (max-width:426px) {
    .section2_container2 {
        max-width: 100%;
        padding: 7px;
    }
    .section2_container2 img {
             width: 54px;
    }
    .section2_container2 p {
        font-size: 18px;
    }
    .section2 {
        padding:20px 0 10px 0;
    }
}