#wrapper2 {
  background: linear-gradient(#41596c, #41596c),
    url(https://uploads-ssl.webflow.com/63dd13d30fc9d9c57d36a615/63dd13d30fc9d9545436a6bf_backgorund-blocks.svg);
  background-size: cover;
    background-position: center;
    width: 100vw;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:  200px 20% 120px 20%;
    position: relative;
    z-index: 1;
}

.contact {
  font-weight: 400;
  font-size: 28px;
  color: #fff;
  line-height: 40px;
    margin-bottom: 40px;
}

#dark_phone {
    max-width: 100%;
    height: auto;
}


#dark_phone img {
    width: 35px;
    margin-right: 10px;
    max-width: 100%;
}

.whiteSlach1 {
    background-color: white;
    display: block;
    bottom: 460px;
}
.angle1 {
    z-index: 2;
    width: 111%;
    height: 130px;
    position: absolute;
    left: -10%;
    transform: rotate(-3deg);
    
}

.whiteSlach2 {
    background-color: white;
    display: block;
    bottom: -135px;
    height: 460px;
}
.angle2 {
    z-index: 2;
    width: 111%;
    height: 170px;
    position: absolute;
    left: -10%;
    transform: rotate(-3deg);
}