.wrapper3 {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    position: relative;
    z-index: 10;
}

.wrapper3 div:nth-child(1) {
    background-color: #F8A73D;
    height: auto;
    color: #fff;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    border: 1px solid #dce0e9;
    border-radius: 4px;
    margin-bottom: 28px;
    padding: 12px;
    font-size: 15px;
    font-weight: 500;
    line-height: 16px;
    display: inline-block;
}
.wrapper3 h2 {
    font-family: Nunito,sans-serif;
    font-weight: 300;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    width: 55%;
}

.wrapper3 h2 span:nth-child(1){
    font-weight: 700;
}

.wrapper3 h2 span:nth-child(2){
    color: #ffb366;
    font-weight: 700;
}


#sec2 {
    color: #212c42;
    margin-top: 25px;
    margin-bottom: 12px;
    font-size: 21px;
    font-weight: 500;
    line-height: 28px;
}

#card1 {
    background-color: white;
    border: none;
    margin-bottom: 0;
    letter-spacing: 0;
    text-transform: none;
}

.cards2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0 30px
}

.card2 {
    width: 30%;
    padding: 20px;
    text-align: center;
}

@media (max-width: 768px) {
    .cards2 {
        flex-direction: column;
    }
    .card2 {
        width: 100%;
        margin-bottom: 20px;
    }
    .wrapper3 h2 {
        font-size: 24px;
        line-height: 30px;
        text-align: center;
        width: 70%;
    }
}